@charset "UTF-8";
.timer {
    margin-top: 30px;
}
.button {
    margin-top: 30px;
    margin-bottom: 15px;
}
.all {
    width: 400px;
    text-align: center;
    margin:30px auto;
    border:2px solid #222;
}
.title {
    font-size: 30px;
}
.inactive {
 opacity: 0.4;
}
#display {
    font-size: 35px;
}
#start , #stop , #reset {
    width: 70px;
    height: 40px;
}
#stop {
    margin-left: 10px;
    margin-right: 10px;
}